.container ul {
  display: flex;
  margin-right: 32px;
  border-radius: 8px;
  border: 1px solid var(--li-hover-color);
  overflow: hidden;
}

.container ul li {
  padding: 6px 16px;
  font-size: 14px;
  border-left: 1px solid var(--li-hover-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  line-height: 24px;
  gap: 6px;
  white-space: nowrap;
}

.container ul li:hover {
  padding: 4px 16px;
  border-top: 2px solid var(--thumbBG);
  border-bottom: 2px solid var(--thumbBG);
}

.container ul li.active {
  background: var(--bg-default-color);
}

.container ul li.active:hover {
  border-color: var(--bg-default-color);
}

.calendarWrap {
  position: fixed;
  width: max-content;
  right: 0;
  margin: 10px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14),
    0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  z-index: 10;
}

.calendarWrap select option {
  background-color: var(--bg-primary-color);
  font-size: 14px;
  text-align: left;
}

.buttonContainer {
  display: flex;
  background-color: var(--bg-primary-color);
  justify-content: space-between;
  padding: 0 24px 16px;
}

.buttonContainer button {
  background: var(--button-bg-color);
  padding: 6px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
  font: inherit;
  transition: 0.3s;
}

.buttonContainer button:hover {
  background: var(--button-hover-color);
}
