.container {
    display: flex;
    aside {
        background: rgb(48,72,110);
        background: linear-gradient(180deg, rgba(48,72,110,1) 0%, rgba(67,98,138,1) 30%, rgba(131,148,164,1) 100%);
        color: var(--font-primary);
        width: 45vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 2rem;

        .logo {
            display: flex;
        }

        h1 {
            margin-bottom: 2rem;
        }

        footer {
            width: 100%;
            text-align: center;
        }
    }
    main {
        background-color: var(--bg-default);
        color: var(--font-default);
        width: 55vw;
        height: 100vh;
        center {
            position: relative;
            top: 50%;
            transform: translateY(-50%); 

            h1, i {
                width: 22.5rem;
                text-align: left;
            }

            i {
                margin-top: -1.2rem;
                font-size: .75rem;
                color: var(--card-rejected);
            }
            
            form {
                display: flex;
                flex-direction: column;
                width: 22.5rem;
                gap: 2rem;
                margin-top: 2rem;

                input {
                    background-color: transparent;
                    border-left: none;
                    border-right: none;
                    border-top: none;
                    outline: none;
                    border-bottom: 1px solid var(--font-default);
                    
                    padding: .5rem 0;
                }

                input:focus{
                    border-bottom: 1px solid var(--button-hover);
                }

                input::placeholder{
                    color: var(--font-placeholder);
                }

                .password {
                    input {
                        width: 100%;
                        padding-right: 2.5rem;
                    }
                    button {
                        position: absolute;
                        margin-left: -2.5rem;
                        height: 2rem;
                    }
                }

                .strapline {
                    margin-top: -1rem;
                }

                a:nth-child(4) {
                    background-color: #1976d2;
                    border-radius: 4px;
                    padding-block: 7px;
                    color: white;
                }
            }
        }
    }
}