.container {
  position: relative;
  left: 0;
  background: transparent; 
  color: var(--font-primary);
  min-width: 15rem;
  max-width: 15rem;
  z-index: 10;
  transition: 0.3s;

  ul {
    position: relative;
    max-height: calc(100vh - 3.75rem);
  }
}

.container.collapsed {
  min-width: 5rem;
  max-width: 5rem;
}
