.container {
  position: relative;
  left: 0;
  background: rgb(48,72,110);
  background: linear-gradient(180deg, rgba(48,72,110,1) 0%, rgba(67,98,138,1) 30%, rgba(131,148,164,1) 100%);
  color: var(--font-primary);
  min-width: 17rem;
  max-width: 17rem;
  z-index: 10;
  transition: 0.3s;

  ul {
    position: relative;
    max-height: calc(100vh - 3.75rem);
  }
}

.container.collapsed {
  min-width: 5rem;
  max-width: 5rem;
}
